<div [className]="isOpen ? 'sidebar open' : 'sidebar closed'">
  <div *ngIf="isOpen" class="sidebar-layout">
    <button class="item-button-sidebar">
      <div class="personal-data-container">
       <div class="name"> Hello coders! : )</div>
      </div>
    </button>

    <button  routerLink="/app/about"  class="item-button-sidebar" (click)="onSideBarButtonClick()">
      <div class="item-container">
        About
      </div>

    </button>

    <button (click)="logoutHandler()" class="item-button-sidebar">
      <div class="item-container">
        FAQ's
      </div>
    </button>
  </div>
</div>
